<div>
    {{message}}

    <center>
        <img ng-src="{{ communicator.current_logo_src }}" alt="" height="{{ communicator.current_logo_height }}">
        <br><br><br>
        <!-- Display exposition text -->
        <div class=exposition id="exposition">
            {{ communicator.player_exposition }}
        </div>
        <div class="enumerationBox">
            <div class=enumeration id="enumeration">
                {{ communicator.player_exposition_enumeration }}
            </div>
        </div>
    </center>



</div>
